
.skills-list {
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    margin-top: 24px;
}


.skill {
    background-color: var(--clr-gray-alt);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--clr-gray);
    transition: .2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 12px;
    color: var(--green);
    font-size: var(--fz-xs);
    font-weight: 500;
    height: 28px;

}

.skill:hover{
    border-color: var(--clr-details);
}